@font-face {
  font-family: "VarelaRound-Regular";
  src: url("../font/VarelaRound-Regular.ttf");
}

* {
    font-family: "VarelaRound-Regular";
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
h1 {
    font-size: 34px;
}

/* NAVBAR*/
#header {
    z-index: 50;
    background: white;
    clear: both;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav {
    display: block;
    position: relative;
    clear: both;
    top: 0;
    overflow: auto;
    height: 75px;
    margin: 0 10% 0 10%;
}
/*LOGO + GLASBOT*/
#logo {
    display: inline;
    clear: both;
    margin-top: 12px;
}
.glasbot {
    display: inline;
    list-style-type: square;
    padding-left: 10px;
    text-align: left;
}
#leftnav {
    float: left;
}
#leftnav li {
    display: inline;
    list-style-type: square;
    padding-left: 20px;
    font-size: 230%;   /* SIZE DOESN'T CHANGE!!!!!!!!!!!*/
}
#leftnav li a:hover {
    color: #000000;
}

/*LINKS ON RIGHT*/
#rightnav {
    float: right;
}
#rightnav li {
    display: inline;
    list-style-type: square;
    padding-right: 20px;
    font-size: 100%;
}
#rightnav li a:link {
    line-height: 75px;
    height: 75px;
}
#rightnav a:hover {
    color: #186e0b;
    font-weight: bolder;
}

/*FOOTER*/
footer {
    display: block;
    position: fixed;
    clear: both;
    padding: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
	background-color: #186e0b;
	color: #ffffff;
}

/*BODY*/
body {
    font-size: calc(0.55em + 0.55vw);
	line-height: 2rem;
	color: #3D3D3B;
    background: #f5f5f5;
}

section {
    display: grid;
    background: #ffffff;
    padding: 4%;
    margin: 5% 12% 5% 12%;
}

/* ABOUT */
#abouttd {
    width: 70%;
    vertical-align: top;
    padding: 1% 0% 0% 2%;
}

#imgtd img {
    width: 100%;
}

.block {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 2px solid #000000;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
}
.block:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #186e0b;
    border: 2px solid #186e0b;
}

/*SOCIAL ICON*/
ul.no-list{
  padding-left: 0;
}

ul.no-list li {
  display: inline-block;
  list-style: none;
}

.social {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.social a {
  color: transparent;
}

.social i {
  color: #fff;
  font-size: 18px;
}

.social li {
  width: 40px;
  height: 40px;
  margin: 0 5px 0;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: background 0.3s linear;
}
.social li:hover {
  background: #fff;
}

.social .behance {
  background: #053eff;
  border: 2px solid #053eff;
}
.social .behance:hover i {
  color: #053eff;
}
.social .behance:hover {
  border: 2px solid #053eff;
}

.social .vimeo {
  background: #45bbff;
  border: 2px solid #45bbff;
}
.social .vimeo:hover i {
  color: #45bbff;
}
.social .vimeo:hover {
  border: 2px solid #45bbff;
}

.social .instagram {
  background: #d62976;
 	border: 2px solid #d62976;

}
.social .instagram:hover i {
  color:  #d62976;
}
.social .instagram:hover {
  border: 2px solid #d62976;
}

.social .link {
  background: #434e5c;
  border: 2px solid #434e5c;
}
.social .link:hover i {
  color: #434e5c;
}
.social .link:hover {
  border: 2px solid #434e5c;
}

/*CLASS ACTIVITIES*/
.text-download {
    display: flex;
    letter-spacing: 1px;
}

#robot, #jar, #bottle {
    width: 100%;
}

.download {
    display: inline;
    margin-left: 4%;
    width: 30%;
    background-color: white;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
}

.download:hover {
    cursor: pointer;
    color: white;
    background-color: #186e0b;
    border: 2px solid #186e0b;
}

.row {
    display: flex;   
}

.col2 {
    width: 50%;
}

.col2 p{
    padding-bottom: 2.5%;
}

.process {
    display: inline;
    width: 90%;
    border: 2px solid #186e0b;
    background-color: #186e0b;
    color: #ffffff;
    margin: 2% 0% 2.5% 0%;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
}

.process:hover {
    border: 2px solid #186e0b;
    background-color: #ffffff;
    color: #186e0b;
    font-weight: bold;
}